VITE_SANITY_PROJECT_ID=o109v8h2
VITE_SANITY_DATASET=production
VITE_SITE_URL=https://pobratymy.com

SANITY_REDEPLOY_WEBHOOK_SECRET=
CLOUDFLARE_DEPLOY_HOOK_URL=

SANITY_STUDIO_PROJECT_ID=o109v8h2
SANITY_STUDIO_DATASET=production
