node_modules
.DS_Store
.idea
*.local
.env
.env.*
!.env.example
!.dev.vars.example

dist
dist-ssr
.tanstack
.wrangler
.output
.vinxi
.sanity
__unconfig*
worker-configuration.d.ts

coverage
playwright-report
test-results
todos.json
